{{>header}}

<div style="background-color: #FFE4C4; box-shadow: 5px 5px 25px 3px #8B4513">

    <div id="about">
        <p>This website presents official weather observations, forecasts and
            chances of rain for selected cities developed with the help of
            Dark Sky & mapbox API's.
        <ul>
            <li>
                <h6 style="text-decoration: underline; font-weight: bold">Dark Sky API</h6>
                <p>
                    For requesting weather forecasts and historical weather
                    data by generating an API key for the accessibility of a
                    requested location through latitude and longitude
                </p>
            </li>
            <li>
                <h6 style="text-decoration: underline; font-weight: bold">Mapbox API</h6>
                <p>
                    Mainly for geocoding services - <br>
                    The mapbox web services API's allow you to retrieve info about
                    your account, upload and change resources, user core Mapbox tools.
                    This API services include maps, navigation, geolocation.
                </p>
            </li>
        </ul>
        </p>
    </div>
</div>
</div>

{{>footer}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>